{{ ansible_managed | comment }}
# PostgreSQL Client Authentication Configuration File
# ===================================================
#
# See: https://www.postgresql.org/docs/current/static/auth-pg-hba-conf.html

{% for client in postgresql_hba_entries %}
{{ client.type }} {{ client.database }} {{ client.user }} {{ client.address|default('') }} {{ client.ip_address|default('') }} {{ client.ip_mask|default('') }} {{ client.auth_method }} {{ client.auth_options|default("") }}
{% endfor %}

{% if postgresrep_role == 'master' %}
{% for item in groups['postgresql'] %}
host    {{ rep_db }}    {{ rep_user }}  {{ item }}/32 trust
{% endfor %}
{% endif %}

{% if groups['radius'] is defined %}
{% for item in groups['radius'] %}
{% for db in postgresql_databases %}
{% if db.owner == radius_user %}
host    {{ db.name }}    {{ radius_user }}  {{ item }}/32 md5
{% endif %}
{% endfor %}
{% endfor %}
{% endif %}

{% if groups['openvpn'] is defined %}
{% for db in postgresql_databases %}
host    {{ db.name }}    {{ db.owner }}  {{ hostvars[groups['openvpn'][0]].private_ip }}/32 md5
{% endfor %}
{% endif %}

{% if groups['web'] is defined %}
{% for item in groups['web'] %}
{% for db in postgresql_databases %}
host    {{ db.name }}    {{ db.owner }}  {{ item }}/32 md5
{% endfor %}
{% endfor %}
{% endif %}