[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre={{ nginx_bindir }}/nginx -t
ExecStart={{ nginx_bindir }}/nginx
ExecReload={{ nginx_bindir }}/nginx -s reload
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true
Restart=always
RestartSecs=10

[Install]
WantedBy=multi-user.target