[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre={{ nginx_bindir }}/nginx -t -q -g 'daemon on; master_process on;'
ExecStart={{ nginx_bindir }}/nginx -g 'daemon on; master_process on;'
ExecReload={{ nginx_bindir }}/nginx -g 'daemon on; master_process on;' -s reload
ExecStop=-/sbin/start-stop-daemon --quiet --stop --retry QUIT/5 --pidfile /run/nginx.pid
TimeoutStopSec=5
KillMode=mixed


[Install]
WantedBy=multi-user.target