options {
	directory "/var/cache/bind";

        recursion yes;
        allow-recursion { any; };
        allow-query { any; };
        allow-query-cache { any; };
{% if dns_list_public %}
        listen-on { any; };

{% else %}
        listen-on { 127.0.0.1; {{ ansible_host }}; };
{% endif %}

        allow-transfer { none; };

        forwarders {
                77.88.8.8;
                77.88.8.1;
        };


	dnssec-validation auto;

	auth-nxdomain no;    # conform to RFC1035
	listen-on-v6 { any; };
};

statistics-channels {
 	inet 127.0.0.1 port 8653 allow { 127.0.0.1; };
};