[Unit]
Description=SoftEther VPN Server
After=network.target

[Service]
Type=forking
ExecStart={{ softether_bindir }}/{{ softether_srcdir }}/vpnserver start
ExecStop={{ softether_bindir }}/{{ softether_srcdir }}/vpnserver stop

[Install]
WantedBy=multi-user.target