[Unit]
Description=Redis-sential for Redis In-Memory Data Store
After=network.target

[Service]
User={{ redis_user }}
Group={{ redis_user }}
ExecStart={{ redis_bindir }}/redis-sentinel {{ redis_config_folder }}/sentinel.conf --daemonize no
Restart=always
RestartSecs=10

[Install]
WantedBy=multi-user.target